<%= error_messages_for 'experiment' %>

<p><label for="experiment_Location">Description</label><br/>
<%= text_field 'experiment', 'Location'  %></p>

<%= hidden_field 'experiment', 'Date' , :value => Time.now %>
<%= hidden_field 'experiment', 'Admin' , :value => current_user.login %>

<% for thread in @threads %>
	<p><%= check_box_tag "thread_ids[]", thread.id, !thread.summary(@experiment).nil? %> <%= thread.listno %> <%= thread.Name %></p>
<% end %>

