<%= error_messages_for 'summary' %>

<p><label for="experiment_Sum">Summary</label><br/>
<%= text_area 'summary', 'Sum', :cols => 100  %></p>
<p><label for="experiment_Sum">Selected Sentences</label><br/>
<%= text_area 'summary', 'Sent', :cols => 100, :rows => 3 %></p>
<p><label for="experiment_Sum">Labels</label><br/>
<%= text_area 'summary', 'Label', :cols => 100, :rows => 3 %></p>