<%= error_messages_for 'email' %>
<p>Submitted By<br/>
<%= text_field 'temp', 'by'%></p>
<p><label for="email_in">Raw Source</label><br/>
<%= text_area 'temp', 't', :rows => 25, :cols => 120  %></p>

