<h2>Choose the threads to export</h2>
<% form_tag ({ :action => 'process_export'},{:id => 'thread_form'}) do %>
  <table>
	<tr><td>
		<input type='submit' value='Check All' onClick="$$('#thread_form input.check').each(function(box){box.checked=true});return false;" />
	</td></tr>
    <%= render :partial => 'email_thread', :collection => @email_threads %>
  </table>
  <br/>
  <%= submit_tag 'Export' %>
<% end %>