<html>
<head>
  <title>Email Study</title>
  <%= stylesheet_link_tag 'scaffold' %>
	<%= javascript_include_tag :defaults %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:error] %></p>

<%= yield  %>
</body>
</html>
