<h2>Choose the results to export</h2>
<% form_tag ({ :action => 'process_export'},{:id => 'study_form'}) do %>
  <table>
	<tr><td>
		<input type='submit' value='Check All' onClick="$$('#study_form input.check').each(function(box){box.checked=true});return false;" />
	</td></tr>
    <%= render :partial => 'study', :collection => @studies %>
  </table>
  <br/>
  <%= submit_tag 'Export' %>
<% end %>